Repository SW22-Testing/automatic-testing, pull requests merged in 2022-09, with the labels that each got.

#29 pokusný merge
  .github/linters/.jscpd.json
  automatic-testing/AutomaticTests/ZakladniFunkce/PrihlaseniOdhlaseni.cs
  automatic-testing/Helpers/Predefined/UserHelper.cs
  automatic-testing/Helpers/Recording/ScreenRecorder.cs
  automatic-testing/Helpers/Setup/WinAppDriverSetup.cs
  automatic-testing/Helpers/Tests/LoginHelper.cs
  automatic-testing/Helpers/Tests/SearchHelper.cs
Labels: bug, feature, automatic test, aspeEsticon

#28 Hezky tě prosím
  .github/linters/.jscpd.json
  automatic-web-testing/AutomaticTests/ZakladniFunkce/PrihlaseniOdhlaseni.cs
  automatic-web-testing/Helper/Tests/LoginHelper.cs
  automatic-web-testing/Helper/Tests/SearchHelper.cs
Labels: feature, automatic test, aspeHub

#32 Ignorace microsoft a Google loginu + update chrome driveru
  automatic-web-testing/AutomaticTests/ZakladniFunkce/PrihlaseniOdhlaseni.cs
  automatic-web-testing/automatic-web-testing.csproj
Labels: bug, automatic test, aspeHub

#34 Oprava Ignoru
  automatic-web-testing/AutomaticTests/ZakladniFunkce/PrihlaseniOdhlaseni.cs
Labels: bug, automatic test, aspeHub

#35 Oprava Microsoft externi prihlaseni
  automatic-web-testing/AutomaticTests/ZakladniFunkce/PrihlaseniOdhlaseni.cs
Labels: bug, automatic test, aspeHub
